<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Correo</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contacto of contactos">
      <th scope="row">{{contacto.id}}</th>
      <td>{{contacto.nombre}}</td>
      <td>{{contacto.telefono}}</td>
      <td>{{contacto.correo}}</td>
      <td>{{contacto.tipo}}</td>
    </tr>
  </tbody>
</table>
